<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add mosque</title>
</head>
<body>

<h1>Welcome to Mosque platform</h1>

<div> <a href="/">Main Page</a> | <a href="/add_mosque">add mosque</a> | <a href="/search">search for mosque</a></div>
<form method="post">
    <input name="name" placeholder="name of mosque">
    <input name="address" placeholder="address of mosque">
    <input name="altitude" placeholder="altitude">
    <input name="longitude" placeholder="longitude">
    <input type="submit" value="add mosque">
</form>

</body>
</html>